<!-- <link rel="import" href="../polymer/polymer-element.html">-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<!-- necesario para la gestión del evento tap (equivalente a onclick para pantallas tácticles) -->
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/iron-form/iron-form.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">



<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<!-- tkearney1@cloudflare.com -->




<dom-module id="user-login-help">
  <template>
    <!-- el meta se pone aquí??? -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <style is = "custom-style">
       paper-dropdown-menu {
          width:250px;
       }
       paper-dropdown-menu {
          height: 200px;
          display: block;
       }
    </style>

    <div class="container">

      <h1>Alta de usuario</h1>

      <iron-form id="formulario-user">
        <form action="/foo" method="get">
          <paper-input type="text" id="first_name" label="Nombre" value="{{first_name::input}}" required formnovalidate></paper-input>
          <paper-input type="text" id="last_name" label="Apellidos" value="{{last_name::input}}" required formnovalidate></paper-input>
          <!-- <paper-input type="text" id="country" label="País de residencia" value="{{country::input}}" required formnovalidate></paper-input> -->

          <!-- <paper-dropdown-menu label="País de residencia" id="country" required>
            <paper-listbox class="dropdown-content" slot="dropdown-content">
              <paper-item value="España">España</paper-item>
              <paper-item value="Francia">Francia</paper-item>
              <paper-item value="Inglaterra">Inglaterra</paper-item>
              <paper-item value="Portugal">Portugal</paper-item>
            </paper-listbox>
          </paper-dropdown-menu> -->
          <br>
          <div><strong>País de residencia</strong></div>
          <paper-listbox id="country" selected="{{country}}" attr-for-selected="item-value" required formvalidate >
            <paper-item item-value="ES">España</paper-item>
            <paper-item item-value="FR">Francia</paper-item>
            <paper-item item-value="US">USA</paper-item>
            <paper-item item-value="PT">Portugal</paper-item>
          </paper-listbox>


          <paper-input id="email" type="email" label="email" value="{{email::input}}" required formnovalidate></paper-input>
          <paper-input type="password" id="password" label="password" value="{{password::input}}" required formnovalidate></paper-input>

          <br><br>
          <paper-button class="btn btn-primary btn-lg btn-block" on-tap="createUser">Aceptar</paper-button>
          <paper-button class="btn btn-secondary btn-lg btn-block" on-tap="desconectarse">Cancelar</paper-button>
        </form>
        <br>
        <div class="output"></div>
        <!-- <iron-pages selected="[[userloginerror]]" attr-for-selected="user-login-error">
             <div user-login-error="true">
              <div class="alert alert-danger">
                <strong>Faltan datos.</strong> Todos los datos son obligatorios.
              </div>
            </div>
        </iron-pages> -->
      </iron-form>


    </div>

    <iron-ajax
       id="doCreateUser"
       url="http://localhost:3000/users/V0"
       content-type="application/json"
       method="POST"
       handle-json="json"
       on-response="manageCreateUserResponse"
       on-error="errorInesperado">


  </template>

  <script>

    /**
     * `user-login-help`
     * Componente de login de usuario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
     class UserLoginHelp extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'user-login-help'; }
      static get properties() {
        return {
          first_name: {
            type: String,
          },
          last_name: {
            type: String,
          },
          email: {
            type: String,
          },
          country: {
            type: String,
          },
          password:{
            type: String,
          }
        };
      }



      createUser( e ) {
        var validated = false;
        /*
        if( this.user != undefined
          && this.passwrd != undefined
          && this.user.length > 0 && this.password.length > 0) {
          validated = true;
          */

          //console.log( this.$.formulario-user.validate() );

          var usuario = {
               "first_name": this.first_name,
               "last_name": this.last_name,
               "email": this.email,
               "country": this.country,
               "password": this.password
             };

           console.log("Creación de usuario; ");
           console.log(usuario);

          // //  el $ sirve para seleccionar el shadow dom del elemento polymer
           this.$.doCreateUser.body = JSON.stringify( usuario );
           this.$.doCreateUser.generateRequest();
           console.log("Peticion de creación de usuario enviada");
      }

      manageCreateUserResponse(data) {
        console.log("Respuesta recibida");
        console.log ("Http code; " + data.detail.status + ", Message; " + data.detail.statusText);

        console.log("Usuario creado");
        console.log(data.detail.response[0]);

        window.location = "/user-created";
      }

      /**
        Función que hace la función del logout del usuario logado
        y borra todos los datos almacenamos en el navegador
      */
      errorInesperado (data){
        console.log ("Se ha recibido un error al llamar al api; " + data.detail.error.message);
        console.log ("Http code; " + data.detail.request.status + ", Message; " + data.detail.request.statusText);
        console.log ("Http code; " + data.detail.request.xhr.status + ", Message; " + data.detail.request.xhr.statusText);

        console.log("Se procede a borrar los datos de la sesión del usuario e ir a la página de error");
        //this._deleteUserData();
        window.location = "/error";
      }

      desconectarse(){
        console.log("Volviendo al login");
        window.location = "/login";
      }


    }
    window.customElements.define(UserLoginHelp.is, UserLoginHelp);
  </script>
</dom-module>
