<!-- <link rel="import" href="../polymer/polymer-element.html">-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<!-- necesario para la gestión del evento tap (equivalente a onclick para pantallas tácticles) -->
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<link rel="import" href="../../bower_components/paper-weather/paper-weather.html">
<link rel="import" href="../../bower_components/stock-value/stock-value.html">

<link rel="import" href="../main-component/main-component.html">

<dom-module id="area-personal">
  <template>
    <!-- el meta se pone aquí??? -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <div class="container-fluid">
      <div class="container-fluid">
        <main-component><main-component>
      </div>

      <div class="container">
        <h4>Área personal</h4>
        <!-- Fila paper-weather -->
        <div class="row">
          <div class="col-sm">
            <!-- https://www.webcomponents.org/element/ryanburns23/paper-weather -->
            <paper-weather horizontal unit="c" location="Madrid, ES"></paper-weather>
          </div>
        </div>
        <div class="row">
          <div class="row">
            .
          </div>
        </div>
        <!-- Fila info usuario + darse de baja + stock -->
        <div class="row">
          <div class="col-sm">
            <!-- https://getbootstrap.com/docs/4.0/components/card/ -->
            <div class="container-fluid">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{first_name}} {{last_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Country: {{country}}</h6>
                  <p class="card-text"></p>
                  <a href="mailto:{{email}}" class="card-link">{{email}}</a>
                  <p class="card-text">* ¿Quieres darte de baja de nuestro servicio?</p>
                  <button type="button" class="btn btn-danger btn-sm" on-tap="deleteUser">Date de baja</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            ¿Necesitas información sobre alguna compañía?
            <input class="form-control mr-sm-2" type="search" placeholder="Empresa" aria-label="Search" value="{{company::input}}">
          </div>
          <div class="col-sm">
            <div class="container-fluid">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{companyInfo.symbol}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{companyInfo.companyName}}</h6>
                  <p class="card-text">{{companyInfo.CEO}}</p>
                  <p class="card-text">{{companyInfo.description}}</p>
                  <p class="card-text">{{companyInfo.exchange}}</p>
                  <a href="{{companyInfo.website}}" class="card-link" target="_{{companyInfo.symbol}}">{{companyInfo.website}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-localstorage-document key="myTsec" data="{{myTsec}}"></app-localstorage-document>

    <iron-ajax
      id="doGetCompanyInfo"
      auto="true"
      url="https://api.iextrading.com/1.0/stock/{{company}}/company"
      content-type="application/json"
      method="GET"
      handle-json="json"
      on-response="manageGetCompanyInfoResponse"
      on-error="errorInesperado"></iron-ajax>

    <iron-ajax
      id="doGetUser"
      auto$={{autofire}}
      url="http://localhost:3000/users/V1/info/"
      content-type="application/json"
      method="GET"
      headers$={{myTsec}}
      handle-json="json"
      on-response="manageGetUsuarioResponse"
      on-error="errorInesperado"></iron-ajax>

      <iron-ajax
        id="doDeleteUser"
        url="http://localhost:3000/users/V1/"
        method="DELETE"
        headers$={{myTsec}}
        handle-json="json"
        on-response="manageDeleteUserResponse"
        on-error="errorInesperado"></iron-ajax>

  </template>

  <script>
    /**
     * `area-personal`
   *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
     class AreaPersonal extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'area-personal'; }
      static get properties() {
        return {
          autofire: {
            type: Boolean,
            value: true,
          },
          myTsec: {
            type: String,
          },
          company: {
            type: String,
            value: "bbva",
          },
          companyInfo: {
            type: Object,
          }
        };
      }

      getUser(){
        this.$.doGetUser.generateRequest();
      }

      manageGetUsuarioResponse(data) {
        console.log("Respuesta recibida");
        console.log ("Http code; " + data.detail.status + ", Message; " + data.detail.statusText);

        this.first_name = data.detail.response[0].first_name;
        this.last_name = data.detail.response[0].last_name;
        this.email = data.detail.response[0].email;
        this.country = data.detail.response[0].country;

        this.autofire = false;
        this.myTsec = {"tsec": data.detail.xhr.getResponseHeader("tsec")};
        console.log("Tsec almacenado en storage !!!! - " + this.myTsec);
      }

      deleteUser() {
        console.log("se va a dar de baja la cuenta del usuario");
        this.$.doDeleteUser.generateRequest();
      }

      manageDeleteUserResponse(data){
        console.log ("respuesta de delete");
        console.log(data);

        this.desconectarse()
      }


      manageGetCompanyInfoResponse(data) {
        console.log("Respuesta recibida");
        console.log ("Http code; " + data.detail.status + ", Message; " + data.detail.statusText);

        console.log("Company Info; ");
        console.log(data.detail.response);
        this.companyInfo = data.detail.response;
      }

      /**
        Función que hace la función del logout del usuario logado
        y borra todos los datos almacenamos en el navegador
      */
      errorInesperado (data){
        console.log ("Se ha recibido un error al llamar al api; " + data.detail.error.message);
        console.log ("Http code; " + data.detail.request.status + ", Message; " + data.detail.request.statusText);
        console.log ("Http code; " + data.detail.request.xhr.status + ", Message; " + data.detail.request.xhr.statusText);

        // console.log("Se procede a borrar los datos de la sesión del usuario e ir a la página de error");
        // this._deleteUserData();
        // window.location = "/error";
      }

      desconectarse(){
        console.log("Cerrando sesión de manera ordenada");
        this._deleteUserData();
        window.location = "/login";
      }

      _deleteUserData() {
        // Elimina todos los datos del usuario (incluido tsec)
        //removeTsec();
        console.log("Borrando datos de la sesión del usuario");
        this.myTsec = "";
      }

    }
    window.customElements.define(AreaPersonal.is, AreaPersonal);
  </script>
</dom-module>
