<!-- <link rel="import" href="../polymer/polymer-element.html">-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<!-- necesario para la gestión del evento tap (equivalente a onclick para pantallas tácticles) -->
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../main-component/main-component.html">

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">


<!-- tkearney1@cloudflare.com -->
<style is="custom-style">
  iron-image {
    display: block;
    background-color: black;
    min-height: 350px;
  }

  skeleton-carousel {
    min-height: 350px;
  }
</style>



<dom-module id="posicion-global">
  <template>
    <!-- el meta se pone aquí??? -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <app-localstorage-document key="myTsec" data="{{myTsec}}"></app-localstorage-document>

    <!-- auto$={{autofire}} -->
    <!-- auto$="true" -->
    <!-- Obtiene las cuentas de un usuario -->
    <iron-ajax
      id="doGetAccounts"
      url="http://localhost:3000/accounts/V0/"
      content-type="application/json"
      method="GET"
      headers$={{myTsec}}
      handle-json="json"
      on-response="manageGetCuentasResponse"
      on-error="errorInesperado"></iron-ajax>

      <!-- Obtiene los movimientos de una determinada cuenta -->
    <iron-ajax
      id="doGetMovements"
      url="http://localhost:3000/accounts/V0/{{acccountID}}/movements"
      content-type="application/json"
      method="GET"
      headers$={{myTsec}}
      handle-json="json"
      on-response="manageGetMovimientosResponse"
      on-error="errorInesperado"></iron-ajax>

      <iron-ajax
        id="doDeleteAccount"
        url="http://localhost:3000/accounts/V0/{{acccountID}}"
        method="DELETE"
        headers$={{myTsec}}
        handle-json="json"
        on-response="manageDeleteAccountResponse"
        on-error="errorInesperado"></iron-ajax>
        <!-- content-type="application/json" -->
      <!-- Crea nueva cuenta -->
      <iron-ajax
        id="doCreateAccount"
        url="http://localhost:3000/accounts/V0/"
        content-type="application/json"
        method="POST"
        headers$={{myTsec}}
        handle-json="json"
        on-response="manageNewCuentaResponse"
        on-error="errorInesperado"></iron-ajax>

        <iron-ajax
          id="doCreateMovement"
          url="http://localhost:3000/accounts/V0/{{acccountID}}/movements"
          content-type="application/json"
          method="POST"
          headers$={{myTsec}}
          handle-json="json"
          on-response="manageNewMovementResponse"
          on-error="errorInesperado"></iron-ajax>

          <iron-ajax
            id="doCreateTransfer"
            url="http://localhost:3000/transfer/V0/"
            content-type="application/json"
            method="POST"
            headers$={{myTsec}}
            handle-json="json"
            on-response="manageNewMovementResponse"
            on-error="errorInesperado"></iron-ajax>


<div class="container-fluid">
    <div class="container-fluid">
      <main-component><main-component>
    </div>

    <iron-pages selected="[[seccion]]" attr-for-selected="seccion-cuentas-a-visualizar">
          <!-- cuando la propiedad nombreComponente tome uno u otro valor ==> especificado por el attr-for-selected ...-->

      <!-- Creación de Cuenta / Account -->
      <div class="container-fluid" seccion-cuentas-a-visualizar="seccion-createAccount">
        <h4>Creación de cuenta</h4>
        <iron-form id="formulario-new-account">
          <form action="/foo" method="post" id="newAccountForm">
            <paper-input class="w-50" type="text" id="iban" label="IBAN" value="{{newCuenta_iban::input}}" auto-validate pattern="[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{4}[0-9]{7}([a-zA-Z0-9]?){0,16}" error-message="El iban debe estar compuesto del código de país y números (Ej. ES123456677766555)" required></paper-input>
            <paper-input class="w-50" type="text" id="alias" label="Alias" value="{{newCuenta_alias::input}}" required formnovalidate></paper-input>
            <!-- <paper-input class="w-50" type="text" id="currency" label="Moneda" value="{{newCuenta_currency::input}}" required formnovalidate></paper-input> -->
            <div><strong>Currency</strong></div>
            <paper-listbox id="currency" selected="{{newCuenta_currency}}" attr-for-selected="item-value" required formvalidate >
              <paper-item item-value="€">Euro - €</paper-item>
              <paper-item item-value="$">American Dollar - $</paper-item>
            </paper-listbox>
            <paper-button class="btn btn-primary btn-sm" on-tap="createAccount">Aceptar</paper-button>
            <paper-button class="btn btn-secondary btn-sm" on-tap="cancelCreateAccount">Cancelar</paper-button>
          </form>
        </iron-form>
        <br>
        <div class="alert alert-success" id="mensaje_cuenta_creada_ok" hidden>
          <strong>Cuenta creada correctamente. Puede seguir creando cuentas a través de esta pantalla</strong>
          ** Para volver a la sección anterior pulse "Cancelar"
        </div>
      </div>

      <!-- Creación de movimiento -->
      <div class="container-fluid" seccion-cuentas-a-visualizar="seccion-ingreso-abono">
        <h4>Creación de Movimientos</h4>

        <iron-form id="formulario-new-movement">
          <form action="/foo" method="post" id="newAccountForm">
            <paper-input class="w-50" type="number" id="ammount" label="Cantidad" value="{{newMovement_ammount::input}}" required></paper-input>
            <br>
            <div id="iban_destination_div" hidden><strong>Cuenta destino</strong></div>
            <paper-listbox id="iban_destination_ownTransfer" selected="{{newMovement_iban_destination_ownTransfer}}" attr-for-selected="item-value" required formvalidate hidden>
              <template is="dom-repeat" items="{{accounts}}">
                <paper-item item-value="{{item.iban}}">{{item.iban}} - {{item.alias}}</paper-item>
              </template>
            </paper-listbox>
            <paper-input class="w-50" type="text" id="iban_destination" label="IBAN Destino" value="{{newMovement_iban_destination::input}}" pattern="[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{4}[0-9]{7}([a-zA-Z0-9]?){0,16}" required formnovalidate hidden></paper-input>

            <paper-input class="w-50" type="text" id="description" label="Descripción" value="{{newMovement_description::input}}" required formnovalidate></paper-input>

            <paper-button class="btn btn-primary btn-sm" on-tap="createNewMovement">Aceptar</paper-button>
            <paper-button class="btn btn-secondary btn-sm" on-tap="cancelCreateMovement">Cancelar</paper-button>
          </form>
        </iron-form>
        <br>
        <div class="alert alert-success" id="mensaje_movimiento_creado_ok" hidden>
          <strong>Movimiento creado correctamente. Puede seguir realizando operaciones del mismo tipo a través de esta pantalla</strong>
          ** Para volver a la sección anterior pulse "Cancelar"
        </div>
      </div>


    <div seccion-cuentas-a-visualizar="cuentas-y-movimientos">
      <!-- Cuentas -->
      <div class="container-fluid" >
        <h4>Posición Global</h4>
        <nav id="navbar-example2" class="navbar navbar-light bg-light">
          <h7 class="navbar-brand">Cuentas</h7>
          <ul class="nav nav-pills">
            <li class="nav-item px-2">
                  <button type="button" class="btn btn-primary btn-sm" on-tap="getAccounts">Actualizar</button>
            </li>
            <li class="nav-item px-2">
              <button type="button" class="btn btn-secondary btn-sm" on-tap="_showCreateAccount">Crear cuenta</button>
            </li>
            <li class="nav-item px-2" id="boton_borrar_cuenta" hidden>
              <button type="button" class="btn btn-danger btn-sm" on-tap="deleteAccount">Borrar cuenta</button>
            </li>
          </ul>
        </nav>
        <!-- <div data-spy="scroll" data-offset="0"> -->
          <!-- https://www.polymer-project.org/2.0/docs/devguide/templates -->
          <!-- <div> -->
            <vaadin-grid aria-label="Basic Binding Example" style="height:200px" theme="compact" items="[[accounts]]" id="gridAccounts" active-item="{{activeItem}}" size="3" heightByRows="true">

                <!-- <vaadin-grid-column width="60px" flex-grow="0">
                  <template class="header">#</template>
                  <template>[[index]]</template>
                </vaadin-grid-column> -->

              <vaadin-grid-column>
                <template class="header">IBAN</template>
                <template>[[item.iban]]</template>
                <!-- <template class="footer">First Name</template> -->
              </vaadin-grid-column>

              <vaadin-grid-column>
                <template class="header">Alias</template>
                <template>[[item.alias]]</template>
                <!-- <template class="footer">Last Name</template> -->
              </vaadin-grid-column>

              <vaadin-grid-column width="8em">
                <template class="header">Currency</template>
                <template>
                  <div style="white-space: normal">[[item.currency]]</div>
                </template>
                <!-- <template class="footer">Address</template> -->
              </vaadin-grid-column>

            </vaadin-grid>

      </div>

      <!-- Movimientos -->
      <div class="container-fluid">
        <nav id="navbar-example2" class="navbar navbar-light bg-light">
          <h7 class="navbar-brand">Movimientos</h7>
          <ul id="buttonActualizaMovimientos" class="nav nav-pills" hidden>
            <li  class="nav-item px-2" >
                  <button type="button" class="btn btn-primary btn-sm" on-tap="getMovements">Actualizar</button>
            </li>
            <li class="nav-item px-2">
              <button type="button" class="btn btn-secondary btn-sm" on-tap="_showCreateMovement">Ingreso / Abono</button>
            </li>
            <li class="nav-item px-2">
              <button type="button" class="btn btn-secondary btn-sm" on-tap="_showCreateTransfer">Trasferencia</button>
            </li>
            <li class="nav-item px-2">
              <button type="button" class="btn btn-secondary btn-sm" on-tap="_showCreateOwnTransfer">Traspaso</button>
            </li>
          </ul>
        </nav>

        <div data-spy="scroll" data-offset="0">
          <!-- https://www.polymer-project.org/2.0/docs/devguide/templates -->
          <div>
            <vaadin-grid aria-label="Basic Binding Example" style="height:300px" theme="compact" items="[[movements]]" id="gridMovements" size="3" heightByRows="true">

              <!-- <vaadin-grid-column width="60px" flex-grow="0">
                <template class="header">#</template>
                <template>[[index]]</template>

              </vaadin-grid-column> -->
              <vaadin-grid-column>
                <template class="header">Fecha</template>
                <template>[[item.date]]</template>
                <!-- <template class="footer">First Name</template> -->
              </vaadin-grid-column>
              <vaadin-grid-column flex-grow="0" width="60px">
                <template class="header">Tipo</template>
                <template>[[item.tipo]]</template>
                <!-- <template class="footer">Last Name</template> -->
              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">Descripción</template>
                <template>[[item.description]]</template>
                <!-- <template class="footer">Last Name</template> -->
              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">Cantidad</template>
                <template>[[item.ammount]]</template>
                <!-- <template class="footer">Last Name</template> -->
              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">B. Previo</template>
                <template>[[item.previousBalance]]</template>
                <!-- <template class="footer">Last Name</template> -->
              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">B. Nuevo</template>
                <template>[[item.newBalance]]</template>
                <!-- <template class="footer">Last Name</template> -->
              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">Origen</template>
                <template>[[item.iban_origin]]</template>
                <!-- <template class="footer">Last Name</template> -->
              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">Destino</template>
                <template>[[item.iban_destination]]</template>
                <!-- <template class="footer">Last Name</template> -->
              </vaadin-grid-column>

            </vaadin-grid>

          </div>
        </div>
      </div>
  </div>
    </iron-pages>

</div> <!-- Cierre div de todo el elemento -->

  </template>

  <script>
    /**
     * `posicion-global`
     * Componente de login de usuario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
     class PosicionGlobal extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'posicion-global'; }
      static get properties() {
        return {
          personID: {
            type: String,
          },
          // accounts: {
          //   type: Array,
          //   observer: '_accountsChanged',
          // },
          autofire: {
            type: Boolean,
            value: true,
          },
          myTsec: {
            type: String,
          },
          activeItem: {
            observer: '_activeItemChanged'
          },
          account: {
            type: Object,
          },
          acccountID: {
            type: String,
          },
          movements: {
            type: Array,
          },
          newCuenta_iban: {
            type: String,
          },
          newCuenta_alias: {
            type: String,
          },
          newCuenta_currency: {
            type: String,
          },
          seccion: {
            type: String,
            value: "cuentas-y-movimientos",
          },
          newMovement_ammount: {
            type: Number,
          },
          newMovement_description: {
            type: String,
          },
          newMovement_iban_origin: {
            type: String,
          },
          newMovement_iban_destination: {
            type: String,
          },
          newMovement_iban_destination_ownTransfer: {
            type: String,
          },
          newMovement_type: {
            type: String,
          }
        };
      }

      // evento lanzado cuando se selecciona una cuenta
      _activeItemChanged (item) {
        this.$.gridAccounts.selectedItems = item ? [item] : [];
        console.log("gridAccounts selected; " );
        console.log(this.$.gridAccounts.selectedItems);
        this.$.boton_borrar_cuenta.hidden = true;

        if (this.$.gridAccounts.selectedItems.length > 0) {
          this.accountID = this.$.gridAccounts.selectedItems[0].accountID;
          this.account = this.$.gridAccounts.selectedItems[0];

          this.$.doGetMovements.url = "http://localhost:3000/accounts/V0/" + this.accountID + "/movements";
          this.$.doDeleteAccount.url = "http://localhost:3000/accounts/V0/" + this.accountID;
          this.$.doCreateMovement.url = "http://localhost:3000/accounts/V0/" + this.accountID + "/movements";
          this.getMovements();

          this.$.boton_borrar_cuenta.hidden = false;
        }
      }

      // Lanza la consulta de getAccounts y borra movimientos
      getAccounts(){
        this.$.doGetAccounts.generateRequest();

        this.movements = [];
      }

      // Llama a la consulta de movimientos de una determinada cuentas y muestra botones de movimientos
      getMovements() {
        this.$.doGetMovements.generateRequest();
      }

      //  Gestiona la respuesta de la consulta de cuentas
      manageGetCuentasResponse (data) {
        console.log("Respuesta recibida");
        console.log ("Http code; " + data.detail.status + ", Message; " + data.detail.statusText);

        console.log("Número de cuentas recibido; " + data.detail.response.length);
        var cuentasAux = data.detail.response;
        this.accounts = cuentasAux;

        this.$.boton_borrar_cuenta.hidden = true;
        this.$.buttonActualizaMovimientos.hidden = true;

        this._tsecRefresh(data);
      }

      //  Gestiona la respuesta de la consulta de movimientos de una determinada cuenta
      manageGetMovimientosResponse (data) {
        console.log("Respuesta recibida");
        console.log ("Http code; " + data.detail.status + ", Message; " + data.detail.statusText);

        console.log("Movimientos de la cuenta " + this.accountID + "; " + data.detail.response.length);
        this.movements = data.detail.response;

        this.$.buttonActualizaMovimientos.hidden = false;

        this._tsecRefresh(data);

      }

      // Muestra la sección de creación de cuentas
      _showCreateAccount() {
        this.seccion = "seccion-createAccount";
        this.$.mensaje_cuenta_creada_ok.hidden = true;
      }

      // Muestra la sección de cuentas y movimientos
      _showAccountsAndMovements() {
        this.seccion = "cuentas-y-movimientos";
      }

      // Cancela la creación de la cuenta; limpia formulario + muestra cuentas y refresca la lista
      cancelCreateAccount () {
        this.newCuenta_iban = "";
        this.newCuenta_alias = "";
        this.newCuenta_currency = "";

        this._showAccountsAndMovements();
        this.getAccounts();
      }

      // crea una nueva cuenta
      createAccount() {
        this.$.mensaje_cuenta_creada_ok.hidden = true;

        var cuenta = {
          "iban" : this.newCuenta_iban,
          "alias" : this.newCuenta_alias,
          "currency" : this.newCuenta_currency
        };
        console.log("Crear cuenta");
        console.log(cuenta);
        // //  el $ sirve para seleccionar el shadow dom del elemento polymer
        this.$.doCreateAccount.body = JSON.stringify( cuenta );
        this.$.doCreateAccount.generateRequest();
        console.log("Peticion de creación de cuenta enviada");
      }

      // gestiona la respuesta de la creación de una cuenta
      manageNewCuentaResponse(data) {
        console.log("Cuenta creada");

        // this.seccion_cuentas_mensaje_cuenta_creada = "true";
        this.$.mensaje_cuenta_creada_ok.hidden = false;

        this._tsecRefresh(data);
      }

      // borra una cuenta
      deleteAccount() {
        console.log( "Borrar cuenta" + this.accountID );
        console.log( this.$.doDeleteAccount.url );
        this.$.doDeleteAccount.generateRequest();
        console.log("Petición enviada");
      }

      // gestiona el borrado de una cuenta y actualia las cuentas
      manageDeleteAccountResponse ( data ) {
        this._tsecRefresh(data);
        this.getAccounts();
      }


      _showCreateMovement() {
        this.seccion = "seccion-ingreso-abono";
        this.$.mensaje_movimiento_creado_ok.hidden = true;
        this.newMovement_type = "I/A";

        this.newMovement_iban_origin = this.account.iban;
      }

      _showCreateTransfer() {
        // mostramos campo cuenta destino
        this.$.iban_destination.hidden = false;
        this.$.iban_destination_div.hidden = false;
        this.seccion = "seccion-ingreso-abono";
        this.newMovement_type = "T";

        // fijamos cuenta origen con la que estamos trabajando
        //this.newMovement_iban_origin = this.iban;
        this.newMovement_iban_origin = this.account.iban;
      }

      _showCreateOwnTransfer() {
        // mostramos campo cuenta destino
        //this.$.iban_destination.hidden = false;
        this.$.iban_destination_ownTransfer.hidden = false;
        this.$.iban_destination_div.hidden = false;
        this.seccion = "seccion-ingreso-abono";
        this.newMovement_type = "OwnT";

        // fijamos cuenta origen con la que estamos trabajando
        //this.newMovement_iban_origin = this.iban;
        this.newMovement_iban_origin = this.account.iban;
      }

      createNewMovement () {
        this.$.mensaje_movimiento_creado_ok.hidden = true;
        // si se trata de una trasferencia o traspaso a un tercero se debe restar la cantidad
        if (this.newMovement_type == "T" || this.newMovement_type == "OwnT") {
            //this.newMovement_ammount = -this.newMovement_ammount;

            if (this.newMovement_type == "OwnT") {
              this.newMovement_iban_destination = this.newMovement_iban_destination_ownTransfer;
            }
        }

        var movimiento = {
          "tipo" : this.newMovement_type,
          "ammount" : parseFloat( this.newMovement_ammount) ,
          "description" : this.newMovement_description,
          "iban_origin" : this.newMovement_iban_origin,
          "iban_destination" : this.newMovement_iban_destination
        };
        console.log("Crear movimiento");
        console.log(movimiento);

        if (this.newMovement_type == "T" || this.newMovement_type == "OwnT") {
          // se trata de una trasferencia o Traspaso
          console.log("Se trata de una trasferencia o un traspaso");
          movimiento.accountID = this.accountID;
          this.$.doCreateTransfer.body = JSON.stringify( movimiento );
          this.$.doCreateTransfer.generateRequest();
        } else {
          console.log("Es un movimiento de caja (abono o ingreso)");
          this.$.doCreateMovement.body = JSON.stringify( movimiento );
          this.$.doCreateMovement.generateRequest();
        }
        console.log("Peticion de creación de movimiento enviada");
      }

      manageNewMovementResponse( data ) {
        console.log("Movmimiento creado");

        // this.seccion_cuentas_mensaje_cuenta_creada = "true";
        this.$.mensaje_movimiento_creado_ok.hidden = false;

        this._tsecRefresh(data);
      }
      cancelCreateMovement() {
        this.newMovement_ammount = "";
        this.newMovement_description = "";
        this.newMovement_iban_origin ="";
        this.newMovement_iban_destination = "";

        this.$.iban_destination.hidden = true;
        this.$.iban_destination_ownTransfer.hidden = true;
        this.$.iban_destination_div.hidden = true;
        this.$.mensaje_movimiento_creado_ok.hidden = true;

        this._showAccountsAndMovements();
        this.getAccounts();
      }

      // Método utilizado para refrescar el tsec. Recupera el nuevo valor de la cabecera y sobreescribe en myTsec (vinculado con local storage)
      _tsecRefresh(data) {
        console.log("Almacenando tsec recibido");
        this.autofire = false;
        this.myTsec = {"tsec": data.detail.xhr.getResponseHeader("tsec")};
        console.log("Tsec almacenado en storage !!!! - " + this.myTsec);
      }

      /**
        Función que hace la función del logout del usuario logado
        y borra todos los datos almacenamos en el navegador
      */
      errorInesperado (data){
        console.log ("Se ha recibido un error al llamar al api; " + data.detail.error.message);
        console.log ("Http code; " + data.detail.request.status + ", Message; " + data.detail.request.statusText);
        console.log ("Http code; " + data.detail.request.xhr.status + ", Message; " + data.detail.request.xhr.statusText);

        console.log("Se procede a borrar los datos de la sesión del usuario e ir a la página de error");
        this._deleteUserData();
        window.location = "/error";
      }


      desconectarse(){
        console.log("Cerrando sesión de manera ordenada");
        this._deleteUserData();
        window.location = "/login";
      }

      _deleteUserData() {
        // Elimina todos los datos del usuario (incluido tsec)
        //removeTsec();
        console.log("Borrando datos de la sesión del usuario");
        // this.myTsec$ = "";
        this.myTsec = "";
      }

    }
    window.customElements.define(PosicionGlobal.is, PosicionGlobal);
  </script>
</dom-module>
