<!-- <link rel="import" href="../polymer/polymer-element.html">-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<!-- necesario para la gestión del evento tap (equivalente a onclick para pantallas tácticles) -->
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<!-- tkearney1@cloudflare.com -->

<dom-module id="main-component">
  <template>
    <!-- el meta se pone aquí??? -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <!-- <div class="container-fluid"> -->
      <div class="bg-info clearfix">
        <button type="button" class="btn btn-secondary float-right" on-tap="desconectarse">Desconectarse</button>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menú</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/posicion-global">Posición Global<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/area-personal">Área Personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">La bolsa</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <!-- </div> -->
    <app-localstorage-document key="myTsec" data="{{myTsec}}"></app-localstorage-document>
  </template>

  <script>
    /**
     * `MainComponent`
     * Componente de login de usuario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
     class MainComponent extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'main-component'; }
      static get properties() {
        return {
          myTsec: {
            type: String,
          }
        };
      }

      toPosicionGobal() {
        console.log("A posición global");
        window.location = "/posicion-global";
      }

      desconectarse(){
        console.log("Cerrando sesión de manera ordenada");
        this._deleteUserData();
        window.location = "/login";
      }

      _deleteUserData() {
        // Elimina todos los datos del usuario (incluido tsec)
        //removeTsec();
        console.log("Borrando datos de la sesión del usuario");
        // this.myTsec$ = "";
        this.myTsec = "";
      }

    }
    window.customElements.define(MainComponent.is, MainComponent);
  </script>
</dom-module>
