<!-- <link rel="import" href="../polymer/polymer-element.html">-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">



<!-- necesario para la gestión del evento tap (equivalente a onclick para pantallas tácticles) -->
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/skeleton-carousel/skeleton-carousel.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">


<dom-module id="user-login">
  <template>

    <!-- el meta se pone aquí??? -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- https://www.w3schools.com/icons/fontawesome_icons_intro.asp -->

    <div class="container">
      <h3>Bienvenido a tuBancoDeConfianza (i am just a FAKE)</h3>
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user fa-2x fa-border"></i></span>
          <input id="user" type="text" class="form-control" name="email" placeholder="Usuario" value="{{user::input}}" required autofocus formnovalidate>
      </div>
      <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-2x fa-border" ></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Contraseña" value="{{password::input}}" required formnovalidate>
      </div>
      <span class="help-block">* Ingrese sus credenciales para acceder al área privada.</span>

      <iron-pages selected="[[userloginerror]]" attr-for-selected="user-login-error">
            <!-- cuando la propiedad nombreComponente tome el valor login-usuario ...-->
           <div user-login-error="true">
            <div class="alert alert-danger">
              <strong>Ha ocurrido un error en el acceso.</strong> Error de login básico (Usuario o Contraseña erróneos).
            </div>
          </div>
      </iron-pages>
      <button type="button" class="btn btn-primary btn-lg btn-block" on-tap="login">Acceder</button>
      <div class="float-right">
        ¿Todavía no eres cliente? <a href="/user-sign-in" class="card-link">Date de alta</a>
      </div>
    </div>
    <br>
    <br>
      <div class="container">
        <h4>¿En qué estás pensando?</h4>

        <skeleton-carousel dots nav loop auto >
          <template is="dom-repeat" items="{{images}}">
            <img src="{{item.url}}" alt="{{item.alternativeText}}">
          </template>
        </skeleton-carousel>
      </div>

      <iron-ajax
        id="doLogin"
        url="http://localhost:3000/grantingTickets/V02"
        content-type="application/json"
        method="POST"
        headers=""
        handle-json="json"
        on-response="manageLoginResponse"
        on-error="manageKoLoginResponse">

        <iron-ajax
          id="doGetCaaSFromTenant"
          auto
          url="http://localhost:3000/caas/V0/tenants/generic"
          content-type="application/json"
          method="GET"
          headers=""
          handle-json="json"
          on-response="manageGetCaaSFromTenantResponse"
          on-error="">

        <app-localstorage-document key="myTsec" data="{{myTsec}}"></app-localstorage-document>
    </template>
  <script>
    /**
     * `user-login`
     * Componente de login de usuario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
     class UserLogin extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'user-login'; }
      static get properties() {
        return {
          user: {
            type: String,
          },
          password: {
            type: String,
          },
          userloginerror: {
            type: String,
            value: "false"
          },
          myTsec: {
            type: String,
          },
          images: {
            type: Array,
          }
        };
      }

      /**
      */
      login( e ) {
        // var validated = false;
        //
        // if( this.user != undefined
        //   && this.passwrd != undefined
        //   && this.user.length > 0 && this.password.length > 0) {
        //   validated = true;

          var usuario = {
              "authentication": {
                "consumerID": "00000001",
                "authenticationData": [{
                  "authenticationData": [ this.password],
                  "idAuthenticationData": "password"
                }],
                "authenticationType": "02",
                "userID": this.user
              }
            };

          console.log("Intento de login; " + usuario.authentication.userID);
          console.log(usuario);

          //  el $ sirve para seleccionar el shadow dom del elemento polymer
          this.$.doLogin.body = JSON.stringify( usuario );
          this.$.doLogin.generateRequest();
          console.log("Peticion de login enviada");

      }

      manageLoginResponse(data, cabeceras) {
        console.log("Respuesta recibida");
        console.log ("Http code; " + data.detail.status + ", Message; " + data.detail.statusText);

        console.log("personID; " + data.detail.response.user.person.id + ", user; " + data.detail.response.user.person.id);
        var personID = data.detail.response.user.person.id;

        var datosRespuesta = data.detail.response;

        // Se extrae el tsec de la cabecera de la respuesta y se almacena en el session storage
        console.log("Almacenando tsec recibido");
        this.myTsec = {"tsec": data.detail.xhr.getResponseHeader("tsec")};

        // var redireccion = "/posicion-global/" + personID;
        var redireccion = "/posicion-global";

        console.log("Route a; " + redireccion);

        // El route está definido en index.html
        window.location = redireccion;
      }

      manageKoLoginResponse (data) {
        console.log ("Se ha recibido un error al llamar al api; " + data.detail.error.message);
        console.log ("Http code; " + data.detail.request.status + ", Message; " + data.detail.request.statusText);
        console.log ("Http code; " + data.detail.request.xhr.status + ", Message; " + data.detail.request.xhr.statusText);
        //data.detail.request.xhr.getAllResponseHeaders();
        //data.detail.request.xhr.getResponseHeader("content-type");

        // La propiedad cambia de valor cuando el login es incorrecto ==> se muestra el div del error
        this.userloginerror = "true";

      }

      manageGetCaaSFromTenantResponse (data){
        console.log("Respuesta recibida getCaaSFromTentant");
        console.log ("Http code; " + data.detail.status + ", Message; " + data.detail.statusText);

        this.images = data.detail.response;

        console.log("Imágenes; "  + data.detail.response.length);
        console.log(this.images);
      }

    }

    window.customElements.define(UserLogin.is, UserLogin);
  </script>
</dom-module>
