<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- necesario para la gestión del evento tap (equivalente a onclick para pantallas tácticles) -->
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<dom-module id="user-created">
  <template>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">¡¡¡ Enhorabuena !!!, el proceso de alta ha finalizado </h1>
          <p class="lead">Pulse el botón para volver a la página inicial y acceder a tu zona de cliente</p>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block" on-tap="goBack">Volver</button>
    </div>

  </template>

  <script>
    /**
     * `user-created`
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
     class UserCreated extends Polymer.GestureEventListeners(Polymer.Element) {
      static get is() { return 'user-created'; }
      static get properties() {
        return {
          propiedad: {
            type: String,
            value: "false"
          }
        };
      }

      goBack(e) {
        console.log("y ahora se supone que va a volver a la posición global");
        window.location = "/login";
      }
    }
    window.customElements.define(UserCreated.is, UserCreated);
  </script>
</dom-module>
